*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4d4bc; /* ← Cambia este color a tu gusto */
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    max-width: 1000px;
}
.caja_videos{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(40, 75, 87);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.caja_videos:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgb(34, 64, 74);
}
.caja_videos iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    aspect-ratio: 16/9;
}
.volver {
  position: absolute;
  top: 20px;
  left: 30px;
  text-decoration: none;
  color: #5a3e36;
  background-color: #ffe9d6;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #d4a373;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}

.volver:hover {
  background-color: #fddbb5;
}